#slider_thumbnail {
    width: 400px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.term-slug-wrap {
    display: none;
}
