@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply border-zinc-200;
    }
    html {
        scroll-behavior: smooth;
        height: 100%;
    }
    body {
        @apply relative text-zinc-900 h-full;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
