@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply border-zinc-200;
    }
    html {
        scroll-behavior: smooth;
        height: 100%;
    }
    body {
        @apply relative text-zinc-900 h-full;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.swiper-pagination-bullet {
    @apply h-4 w-4 rounded-full opacity-100 border-2 cursor-pointer border-pink-500 bg-transparent;
}
.swiper-pagination-bullet-active {
    @apply bg-pink-500;
}
